.App {
  text-align: center;
  min-height: 140vh;
  background-color: #282c34;
}
.App-header {
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.form {
  font-size: calc(8px + 2vmin);
  color: white;
  text-align: left;
  margin: 20px;
}
.input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}
form button {
  border-radius: 3px;
  border: 2px solid rgb(119, 116, 117);
  color: black;
  margin: 0.5em 1em;
  padding: 0.25em 1em;
}
form input {
  margin: 10px;
}
.reset {
  border-radius: 3px;
  border: 2px solid rgb(119, 116, 117);
  color: black;
  margin: 0.5em 1em;
  padding: 0.25em 1em;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.content {
  border-radius: 30px;
  border-style: solid;
  padding-bottom: 20px;
  width: 40%;
  background-color: rgb(88, 86, 86);
}
#name {
  font-size: 30px;
  font-weight: bold;
  color: rgb(247, 142, 6);
}
.type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin-right: 10px;
}
